<h1>Listing Users</h1>

<div class="col s1">
  <table>
    <%= for user <- @users do %>
    <tbody>
      <tr>
        <td><%= render "user.html", user: user %></td>
        <td>
        <%=
          link "View",
              to: Routes.user_path(
                @conn, :show, user.id
              ),
              class: "button"
        %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>